/* form */
form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* input */
input {
  flex: 1;
  padding: 0.6rem;
  border: 2px solid #6fcf97;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #2fa084;
}
