/* body */
.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  padding: 1rem;
}

/* Container */
.container {
  background: white;
  padding: 2rem;
  border-radius: 12px;

  margin: 0 auto;

  width: 100%;
  max-width: 600px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Heading */
h2 {
  margin-bottom: 1rem;
  color: #1f6f5f;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 1.2rem;
  }
}
