.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background-color: #2fa084;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo h1 {
  font-size: 1.5rem;
  color: #fff;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: #fff;

  font-weight: 500;

  transition: color 0.2s ease;
}

.active {
  color: #0077ff;
  font-weight: bold;
}
